.body_background 
{
    background-image: url("https://preview.redd.it/g2tt58roi4751.jpg?width=640&crop=smart&auto=webp&s=5ecff06db3f43829d69c0fd01faea317bf792109");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
